<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/game_functions.js"></script>
        <link rel="stylesheet" href="/game_styles.css">
    </head>

    <body>

        <canvas id="canvas" style="position:absolute; left:0px; top:0px">
            
        </canvas>

        <div id="record_form" class="modal">

            <div class="modal_content">
                <p>Score</p> 
                <input type="text" class="score" id="score_display" value="" readonly>
                <p>Enter your name</p>
                <input type="text" id="name_entry" value="">
            </div>

        </div>

    </body>
</html>