<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="game_functions.js"></script>
        <!--<link rel="stylesheet" href="game_styles.css">-->
    </head>

    <body>

        <canvas id="canvas" style="position:absolute; left:0px; top:0px">
            
        </canvas>

    </body>
</html>