<!DOCTYPE html>
<html>
    <head>
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/settings_functions.js"></script>
        <link rel="stylesheet" href="/settings_styles.css">
    </head>

    <body>

        <h1>Color Settings Are Set Through HTML Color Values</h1>
        <h2>Game Color Settings</h2>

        <p>Ball Color
            <input
                type="text" id="game_ball_color_input" value="">
            </input>
        </p>

        <p>Background Color
            <input
                type="text" id="game_background_color_input" value="">
            </input>
        </p>

        <p>Timer Color
            <input
                type="text" id="game_timer_color_input" value="">
            </input>
        </p>

        <h2>Menu Screen Color Settings</h2>

        <p>Background Color
            <input 
                type="text" id="menu_background_color_input" value="">
            </input>
        </p>

        <p>Records Color
            <input
                type="text" id="menu_records_color_input" value="">
            </input>
        </p>

        <input
            type="button" id="apply_settings_button" onclick="checkIfValidColors()" value="Apply">
        </input>

        <input
            type="button" id="test_color_button" class="test">
        </input>

    </body>

</html>