<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="welcome_functions.js"></script>
        <link rel="stylesheet" href="welcome_styles.css">

        <title>
            Speed Clicker
        </title>
    </head>
    <body>
        
        <h1>Welcome to Speed Clicker</h1>
        <h2>See how many circles you can click within 5 seconds!</h2>
        
        <input
            type="button" id="start_button" onclick="startGame()" value = "play">
        </input>

        <input 
            type="range" id="difficulty_slider" value = "0">
        </input>

        <input
            type="text" id="display_value" value = "0">
        </input>

        <br></br>

        <input 
            type="button" id="records_button" onclick="loadRecordsSelection()" value ="records">
        </input>

    </body>
</html>