h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="button"] {
    position: absolute;
    font-size: 15px;
    left: 50%;
    width: 115px;
    height: 30px;
    margin-left: -60px;
}

input[type="button"].records_button1 {
    visibility: hidden;
    margin-left: 60px;
}

input[type="button"].records_button2 {
    visibility: hidden;
    margin-left: 180px;
}

input[type="button"].records_button3 {
    visibility: hidden;
    margin-left: 300px;
}

input[type="text"].search_box {
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: 300px;
    width: 115px;
}

input[type="text"] {
    position: absolute;
    left: 50%;
    width: 40px;
    margin-left: 200px;
    visibility: hidden;
}

input[type="range"] {
    position: absolute;
    left: 50%;
    margin-left: 60px;
    visibility: hidden;
}

table {
    position: absolute;
}

.span_contents_width {
    text-align: left;
    white-space: nowrap;
    word-wrap: break-word;
}

.fixed_left_padding {
    
    text-align: left;
    white-space: nowrap;
    word-wrap: break-word;
    padding-left: 20px;
}